.btn {
  @apply inline-block font-primary text-sm tracking-wider font-medium border px-7 py-[17px] leading-[12px] transition;
}

.btn-primary {
  font-weight: 400;
  font-size: 12px;
  @apply bg-primary text-white  border-none  rounded-[30px] relative hover:shadow-[0_12px_24px_-6px_rgba(45,67,121,.1)] transition-all;
  &:after {
    @apply w-full h-full rounded-[30px] absolute left-1/2 top-1/2 translate-x-[-50%]  translate-y-[-50%] content-[''] bg-primary transition-all duration-300 ease-in-out -z-[1];
    background-color: transparent;
    box-shadow: inset 11px 15px 24px -24px rgba(0, 0, 0, 0.6);
  }
}
