.footer-section {
    background-color: #212121;
}
.upper-footer{
    background-image: url(../public/images/foter.png);
    background-size: cover;
    height: 70vh;
    text-align: center;
    margin: auto;
}
