.home-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/images/home_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner-title {
        width: 70%;
    }
    .title {
        font-size: 64px;
    }
    .subtitle {
        font-size: 22px;
    }

    .button {
        margin-top: 2rem !important;
    }
}

.home-features {
    background-color: #212121;

    .text-top,
    .text-bottom {
        font-size: 22px;
    }
    .text-top {
        font-weight: 600;
        margin-bottom: 4rem;
    }
    .text-bottom {
        font-weight: 500;
        margin-top: 4rem;
    }

    .feature-card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // padding: 0 8%;
    }

    .feature-card {
        background-color: #ff0000;
        width: 40%;

        .feature-paragraph {
            color: #ffffff;
        }

        .white {
            color: #ffffff;
        }
    }
}
