// .section .bg-theme-light {
//     background-color: red !important;
// }
.services-section {
    background-color: red;
}

.dark-background {
    background-color: #2f2f2f;
}

.white {
    color: white;
}
